body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: hsla(331, 54%, 44%, 1) 100%
}

header { 
  background-color: #FFA5AB;
  color: #fff;
  padding: 10px;
  text-align: center;

}

main {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.date--updated{
  font-size: small;
  font-style: italic;
}

.button-search-podcast{
  padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.list--details{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  padding: 20px;
}

.logo{
  margin-right: 6px;
}


.podcast--main--image{
      
      margin-right: 10px;
      max-width: 100%; /* Make sure the image doesn't exceed the container width */
      border-radius: 8px
}

.podcast--title {
  color: #333; /* Podcast name color */
  margin-top: 10px;
}

.podcast--info{
  width: calc(25% - 40px); /* Adjust the maximum width of container */
  box-sizing: border-box;
  max-height: 370px;
  margin: 50px auto; /* Center the container on the page */
  padding: 20px;
  background-color: #FFA5AB; /* Container background color */
  border: 2px solid #FFA5AB; /* Border color */
  border-radius: 10px; /* Border radius for rounded corners */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  text-align: center;
}



.podcast--info h3{
  font-size: small;
  font-weight: bold;
}